<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
    <h1>Clients</h1>
    <h3>A-Z</h3>
    {% for client in clients%}
        <p><b>{{ client.first_name }} {{ client.last_name }}</b>, {{ client.age }} years<p>
        <p>{{ client.address}}, {{ client.phone_number }}</p>
    {% endfor %}     
    <h3>Average Age: {{ average_age }} years</h3>
    <h3>Median Age: {{ median_age }} years</h3>

    {% for client in clients%}
        <p><b>{{ client.username }}</b> bought:<br/>
            {% for order in client.orders.all %}
                <b>{{ order.amount }}</b> {{order.tour.name}}, <i>Total: {{ order.price}}$</i><br/>
            {% endfor %} </p>
    {% endfor %} 
</body>
</html>