<!DOCTYPE html>
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}News{% endblock title %}</title>
</head>
<body>
    <h1>{% block header %}News{% endblock header %}</h1>
    {% block content %}
    {% for new in news %}
        <div>
            <h2>{{ new.title }}</h2>
            <p>{{ new.content }}</p>
            <img src="{{ new.image.url }}">
            <p>Posted: {{ new.date }}</p>
        </div>
    {% endfor %}
    {% endblock content %}
</body>
</html>