{% extends "base.html" %}
{% block title %}Order Detail{% endblock title %}
{% block header %}Order Detail{% endblock header %}

{% block content %}
<section>
    <h1>Number: {{ order.number }}</h1>
    <p>Tour name: {{ order.tour.name }}</p>
    <p>Price: {{ order.price }}$</p>
    <p>Amount: {{ order.amount }}</p>
    <p>Date: {{ order.departure_date }}</p>
    <p>Created on: {{ order.date }}</p>

    <form method="post">
        {% csrf_token %}
        <input type="checkbox" name="confirmation" value="delete" required> Confirm delete <br>
        <button type="submit">Delete</button> <a href="{% url 'user_orders' pk=user.pk %}">My orders</a>
    </form>
</section>
{% endblock content %}
