{% extends "base.html" %}
{% block title %}Order Detail{% endblock title %}
{% block header %}Order Detail{% endblock header %}

{% block content %}
<section>
    <p>Number: {{ order.number }}</p>
    <p>Tour name: {{ order.tour.name }}</p>
    <p>Price: {{ order.price }}$</p>
    <p>Amount: {{ order.amount }}</p>
    <p>Date: {{ order.departure_date }}</p>
    <p>Created on: {{ order.date }}</p>

    {% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Delete</button> <a href="{% url 'user_orders' pk=user.pk %}"> My orders</a>
    </form>
    {% endif %}
</section>
{% endblock content %}
