{% extends "base.html" %}
{% block title %}Review{% endblock title %}
{% block header %}Review{% endblock header %}

{% block content %}
<section>
    <h2>Original review</h2>
    <p>Title: {{ review.title }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p>Text: {{ review.text }}</p>
</section>
<section>
    <h2>Edit review</h2>
    {% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save"> <a href="{%url 'reviews' %}">Or go to reviews page</a></p>
    </form>
    {% endif %}
</section>
{% endblock content %}