{% extends "base.html" %}
{% block title %}Tour{% endblock title %}
{% block header %}Tour{% endblock header %}

{% block content %}
<section>
    {% for tour in tours %}
        <h1>name: {{ tour.name }}</h1>
        <p>country: {{ tour.country }}</p>
        <p>country climate: {{ tour.country_climate }}</p>
        <p>hotel: {{ tour.hotel }}</p>
        <p>hotel stars: {{ tour.hotel_stars }}</p>
        <p>duration: {{ tour.duration_weeks }} weeks</p>
        <p>price: ${{ tour.price }}</p>
        <p>amount of trips: {{ tour.amount_of_trips }}</p>
        
        <a href="{%url 'create_order' pk=tour.id %}">Make an order</a>
    {% endfor %}
</section>
{% endblock content %}