{% extends "base.html" %}
{% block title %}Tours{% endblock title %}
{% block header %}Tours{% endblock header %}

{% block content %}
<section style="
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/media/images/tourback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
<form class="filter-form" action="{% url 'tours' %}" method="get">
    <label for="min_price">Min price</label>
    <input type="number" id="min_price" name="min_price" value="{{request.GET.min_price|default_if_none:0}}">
    <label for="max_price">Max price</label>
    <input type="number" id="max_price" name="max_price" value="{{request.GET.max_price|default_if_none:100000}}">
    <select name="country_id">
        <option disabled selected>Choose a country:</option>
        {% for country in countries %}
            <option value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Search</button>
    <a href="{% url 'tours' %}">Reset</a>
</form>
<section class="tour-wrapper">
    {% for tour in tours %}
        <a href="{% url 'tour' pk=tour.id %}" class="tour-container" >
            <span style="font-weight: bold; font-size: 20px;">{{ tour.name }}</span>
            <hr>
            <p>Visit a {{ tour.country }}</p>
            <p>Stay in a {{ tour.hotel.name }} hotel with {{ tour.hotel.stars }}★</p>
            <p>Duration is {{ tour.duration }} weeks</p>
            <img src="{{ tour.photo.url }}" width="95%" style="border-radius: 20px;">
            <p>For <span style="font-weight: bold; font-size: 20px;">{{ tour.price }}$</span> / person</p>
        </a>
    {% endfor %}
</section>
</section>
{% endblock content %}