{% extends "base.html" %}
{% block title %}Tours{% endblock title %}
{% block header %}Tours{% endblock header %}

{% block content %}
<section>
    {% for tour in tours %}
        <div class="container">
            <a href="{% url 'tour' pk=tour.id %}"><strong>{{ tour.name }}</strong></a>
            <p>id: {{ tour.id }}</p>
            <p>name: {{ tour.name }}</p>
            <p>country: {{ tour.country }}</p>
            <p>hotel: {{ tour.hotel.name }}</p>
            <p>duration: {{ tour.duration }}</p>
            <p>price: ${{ tour.price }}</p>
            <hr>
        </div>
    {% endfor %}
</section>
{% endblock content %}