<!DOCTYPE html>
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>{% block title %}Reviews</title>{% endblock title %}
</head>
<body>
    {% block header %}<h1>Reviews</h1>{% endblock header %}

    {% block content%}
    {% for review in reviews %}
        <div>
            <h2>{{ review.title }}</h2>
            <p>Rating: <b>{{ review.rating }}/5</b></p>
            <p>{{ review.text }}</p>
            <p>Posted: {{ review.date }}</p>
        </div>
    {% endfor %}
   
    {% endblock content%}
</body>
</html>